.signin-button, .signout-button {
    margin-left: auto   ;
    background-color: #4285F4; /* Google Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signin-button:hover, .signout-button:hover, .signin-button:active, .signout-button:active {
    background-color: #3367D6; /* Darker Google Blue */
}