@font-face {
    font-family: 'Tesla';
    src: url('../assets/TESLA.ttf') format('truetype'); /* Adjust the path based on your folder structure */
    font-weight: normal;
    font-style: normal;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(135deg, #333333 0%, #111111 100%); /* Dark gradient */
}

.site-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #e0e0e0; /* Light text color */
    font-family: 'Tesla', sans-serif;
    text-transform: uppercase; 
    letter-spacing: 0.05rem;
    margin: 0 100px 0 0;
    padding: 0;
    cursor: pointer;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.header-tags {
    display: flex;
    align-items: center;
}

.tag-name {
    font-size: 1rem;
    color: #e0e0e0; /* Light text color */
    margin: 0 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.tag-name:hover {
    color: #FFC107; /* Light blue on hover */
}