.stock-search-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color */
}

.stock-search-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f; /* Darker box background */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.stock-search-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stock-search-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #2c2c2c; /* Dark input background */
    color: #e0e0e0; /* Light text color */
    text-align: center;
}

.stock-search-form button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #FFC107; /* Darker blue button */
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.stock-search-form button:hover {
    background-color: #FFA000; /* Darker hover blue */
}

.stock-search-form button:disabled {
    cursor: default;
    background-color: #8B5B29; /* Darker active blue */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}